.day {
  color: #2F4F4F;
  /* min-width: 500px; */
  padding: 20px 20px 45px 40px;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  align-items: stretch;
}

.day .day-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  align-self: start;
  min-width: 110px;
}

.day .dd {
	font-size: 34px;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 0;
}

.day .day-month-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.day .day-of-week { 
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.day .month { 
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: rgb(150, 150, 150);
  margin: 0;
}

.day p {
  font-size: 14px;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* Styling for the current day's headers */

#today-dd, #today-day-of-week, #today-month {
  color: #EC5D57;
}

#today-dd {
  font-weight: 800;
}

#today-day-of-week {
  margin-top: -2px;
  font-weight: 600;
}

#today-month {
  margin-top: -2px;
  font-weight: 700;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

.day .form-group {
  margin: 0;
  display: flex;
  margin-top: -3px;
}

.day .plus-symbol {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 7px;
  font-size: 14px;
}

.day .form-control {
  opacity: 0;
  border: none;
  margin: 0;
  width: 500px;
  transition: all 0.2s linear;
  background: transparent;
  margin-left: 3px;
}

.day .form-control:focus {
  outline: none;
  transition: all 0.2s linear;
  background: transparent;
}

.day:hover .form-control {
  opacity: 0.8;
  transition: all 0.2s linear;
}

.day .plus-symbol {
  opacity: 0;
  transition: all 0.2s linear;
}

.day:hover .plus-symbol {
  opacity: 0.8;
  transition: all 0.2s linear;
}

/* .day .delete:hover {
  opacity: 1;
  transition: all 0.2s linear;
  color: rgb(207, 80, 76);
} */

.day input {
  /* Need these to remove the blue outline */
  -webkit-appearance:none;
  box-shadow: none !important;
  padding: 0;
  font-size: 14px;
}

.day .notes-container {
  flex-direction: column;
}

.day ul {
  margin: 0;
  padding-left: 20px;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

.day .note:hover {
  background-color: whitesmoke;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  transition: all 0.2s linear;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
  padding: 4px;
}

.note:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s linear;
}

.note .delete {
  opacity: 0;
  transition: all 0.2s linear;
  /* font-size: 116px; */
  margin-left: 20px;
  margin-top: 4px;
}

.note:hover .delete {
  opacity: 0.3;
  transition: all 0.2s linear;
}

.note .delete:hover {
  opacity: 1;
  transition: all 0.2s linear;
  color: rgb(207, 80, 76);
}

.day li {
  max-width: 500px;
  word-wrap: break-word;
}