.signup-form {
	/* width: 390px; */
	margin: 175px auto;
}

/* Input fields */
.signup-form .form-control {
	height: 40px;
	background: #f2f2f2;
	/* box-shadow: none; */
	border: 1px solid #e2e2e2;
	font-size: 14px;
}

/* Color of input field when typing */
.signup-form .form-control:focus {
	background: #e4e4e4;
	border-color: #688CFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(104, 139, 255, 0.6);
}

.signup-form .form-control, 
.signup-form .btn {        
	border-radius: 4px;
}

/* .signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
} */

.signup-form h2 {
	color: #333;
	color: #2F4F4F;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 18px;
}

.signup-form .form-group{
	margin-bottom: 16px;
}

.signup-form .row div:first-child{
	padding-right: 8px;
}

.signup-form .row div:last-child{
	padding-left: 8px;
}

.signup-form .btn{        
	font-size: 16px;
	font-weight: 600;
	/* background: #3598dc; */
	/* background: #E16259; */
	background: #688CFF;
	border: none;
	min-width: 140px;
}
		
.signup-form .btn:hover, .signup-form .btn:focus {
	/* background: #2389cd;
	background: rgb(202, 89, 81); */
	background: rgb(92, 123, 224);
	outline: none;
}

.signup-form .btn:focus {
	border-color: #688CFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(104, 139, 255, 0.6);
}

.signup-form div {
	color: #2F4F4F;
	font-size: 13px;
}

.signup-form input[type="checkbox"] {
	margin-left: 8px;
	margin-right: 8px;
}