.weeklyTasks {
  padding: 40px;
  color: #2F4F4F;
  min-width: 340px;
  border-right: 1px solid rgb(230, 230, 230);
  height: 100vh;
  background-color: whitesmoke;
}

.weeklyTasks h2 {
	color: #2F4F4F;
	font-size: 40px;
	font-weight: 700;
}

/* .weeklyTasks .btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
	background: #EC5D57;
  width: 100%;
  border: none;
}

.weeklyTasks .btn:hover, .weeklyTasks .btn:focus {
	background: rgb(207, 80, 76);
	outline: none;
}

.weeklyTasks .btn:focus {
	border-color: rgb(236, 92, 87);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(236, 93, 87, 0.6);
}

.weeklyTasks .btn {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.weeklyTasks .form-control {
  margin-top: 16px;
  margin-bottom: -6px;
}

/* Color of input field when typing */
.weeklyTasks .form-control:focus {
	/* background: #e4e4e4; */
	border-color: #EC5D57;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 92, 87, 0.6);
}