body {
  background-color: #FFFEFC;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-top: 53px; */
}

input[type=checkbox] + label {
  color: #2F4F4F;
  font-weight: 400;   
}

input[type=checkbox]:checked + label {
  color: rgb(180, 180, 180);
  text-decoration: line-through;
} 